<section id="dashboard-bg" class="">
    <div id="dashboard-fg" class="d-flex position-relative w-100">
        <div class="d-flex w-100">
            <div class="d-flex w-100 flex-direction-column align-self-center">
                <div class="d-flex w-100">
                    <h1> Dashboard <small>welcome <%= user.name %></small></h1>
                </div>
                <div class="d-flex w-100">
                    <a href="/user/profile" class="edit_p" style="margin: 5px;"><i class="fas fa-user-edit"></i>Edit Profile</a>
                    <a href="/user/end-session" class="edit_p" style="background-color: red; margin: 5px;"><i class="fas fa-user-edit"></i>Sign Out </a>
                    <% if(user.name == 'admin') { %>
                    <a href="/contact/contact-request" class="edit_p" style="background-color: #000; margin: 5px;"><i class="fas fa-id-card" style="padding-right: 5px;"></i>Contact Detail</a>
                    <% } %>

                </div>
            </div>
            <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100" height="101" class=" d-flex align-items-end align-items-flex-end justify-content-end">
        </div>
        <hr>
        <% if(dev != '') {%>
        <div id="widget" style="padding: 10px;" class="d-flex w-100 widget flex-direction-column">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th style="display: flex;justify-content: center; padding: 15px 0;"><input type="checkbox" /></th>
                        <th>Name</th>
                        <th>IP Address</th>
                        <th>Created At</th>
                        <th style="justify-content: flex-end; text-align: center;">Action</th>
                    </tr>
                </thead>

                <% for (let i of dev) { %>
                    <tbody>
                        <tr>
                            <td style="padding: 6px;"><a style="display: flex;justify-content: center;"><span class="dev_logo"></span></a></td>
                            <td><a href="/user/error/<%=i.id%>" style="color: lightseagreen;"><%= i.name %></a></td>
                            <td><%= i.ip %></td>
                            <td><%= i.createdAt %></td>
                            <% if(locals.user && locals.user.id == i.user) { %>
                            <td style="text-align: center;"><a href="/user/delete-device/<%= i.id %>"><i style="color: red;" class="fas fa-trash-alt"></i></a></td>
                            <% } %>
                        </tr>
                    </tbody>
                <% } %>
            </table>
            <hr>
            <div style="text-align: center; padding: 30px; font-size: 1.7rem;"><a style="color: #08afd5; cursor: pointer;" onclick="opennav()"><i style="padding-right: 10px;" class="fas fa-plus-circle"></i>Add More Device</a></div>
        </div>
        <% } else { %>
        <div id="widget" class="d-flex w-100 widget flex-direction-column align-items-center justify-content-center">
            <div class="cpu_svg"></div>
            <h1>There are no Devices created</h1>
            <span style="padding-top: 20px;">Click the button below to start sending dots to your first Device and begin to unlock the value of your data</span>
            <button type="submit" onclick="opennav()">Create Device</button>
        </div>
        <% } %>
        <div class="sec" id="slide_b">
            <form action="/user/create-device" method="POST">
                <ol class="d-flex w-100 flex-direction-column list-reset" id="navigation">
                    <li class="d-flex w-100 justify-content-center top_nav">
                        <span>Adding Device</span>
                    </li>
                    <li class="d-flex w-100" style="padding: 30px;">
                        <span style="color: #08afd5; cursor: pointer;" onclick="closenav()"><i class="fas fa-hand-point-left" style="padding-right: 10px;"></i>Back</span>
                    </li>
                    <li class="">
                        <span class="d-flex w-100" style="background-color:rgba(181, 177, 177, 0.946);">Appearance</span>
                        <div class="d-flex justify-content-center" style="padding: 30px 10px;">
                            <label class="d-flex w-100 align-items-center" for="name">Name</label>
                            <input type="text" id="name" class="d-flex w-100" name="name" autocomplete="off" required/>
                        </div>
                    </li>
                    
                    <li class="">
                        <span class="d-flex w-100" style="background-color:rgba(181, 177, 177, 0.946);">Configration</span>
                        <div class="d-flex justify-content-center" style="padding: 30px 10px ;">
                            <label class="d-flex w-100 align-items-center" for="ip">Ip Address</label>
                            <input type="text" id="ip" class="d-flex w-100" name="ip" autocomplete="off" required/>
                        </div>
                    </li>
    
                    <li class="d-flex w-100 justify-content-end" style="padding: 30px;">
                        <button style="border: transparent; background: transparent;"><i class="fas fa-check-circle" style="color: rgb(46, 170, 46);"></i></button>
                    </li>
    
                  </ol>
            </form>
        </div>
    </div>
</section>



<script>
    $(document).ready(function(){
        $(".navbar").css({
        "background" : "#000",
        "transition": "0.5s"
      })
    });

    function opennav(){
        document.getElementById('slide_b').style.transform = "translateX(-505px)";
    }

    function closenav(){
        document.getElementById('slide_b').style.transform = "translateX(505px)";
    }

</script>




